:root {
  /* colors */
  --title: linear-gradient(to right, red, green, blue, purple);
  --text: #000000;
  --text-h: #08060d;
  --bg: #c2d8ff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #ffc907;
  --accent-highlighted: #fff700ba;
  --accent-border: #c9a412e1;
  --accent-bg: #ff6e0de7;
  --delete-bg: #ffe32d;
  --window-bg: #f4f3ecd9;
  --selected: #ffff5a;
  --list-bg: #cbb267;
  --card-bg: #fac833;
  --card-border: #ffdd00;
  
  --sans: sans-serif, system-ui, 'Segoe UI', Roboto;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --bg-url: url('./assets/sun-bg.jpg');
  
  --title-size: 7vw;
  --title-padding: 0;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  user-select: none;
  width: 100%;
  
  /* landscape aspect ratio */
  @media (min-aspect-ratio: 1) {
    /* --bg: yellow; */
    --title-size: 4vw;
    width: 60%;
    padding-inline: 20%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --title: linear-gradient(to right, red, green, blue, purple); */
    --text: #eff2f7;
    --text-h: #f3f4f6;
    /* --bg: #414766; */
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #a250f5;
    --accent-highlighted: #8000ff;
    --accent-bg: #9122ffde;
    --accent-border: #c084fc80;
    --accent-border-highlighted: #9328fe80;
    --delete-bg: #531b97;
    --window-bg: #5949a0e6;
    --selected: #00a6ff;
    --list-bg: #6778cb;
    --card-bg: #9633fa;
    --card-border: #8000ff;

    --bg-url: url('./assets/meaning_bg.png'); 
  }
}

#root {
  max-width: 100%;
  margin: 0;
  background-color: var(--accent-bg); 
  text-align: center;
  border-inline: 1px solid var(--border);
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 720px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  padding: .5vh 0px;
  @media (max-width: 720px) {
    font-size: 18px;
  }
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

button {
  padding: 1vh;
  background-color: var(--accent);
  border-color: var(--accent-border);
  font-size: 1.9vh;
  font-weight: 600;
}

input {
  box-sizing: border-box;
  padding: .75vh;
  width: 100%;
  font-size: 20px;
  border: 2px solid var(--accent);
}

input:focus {
  border: 2px solid var(--selected);
  outline: none;
}

.outer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  /* z-index: 10; */
}

.window {
  background-color: var(--window-bg);
  border: var(--window-border);
  border-radius: 0.2em;
  padding: 2vh;
  /* z-index: 10; */
}

.window > h2 {
  color: white;
}

.highlighted {
  background-color: var(--selected);
}

.scrollable {
  max-height: var(--scroll-window-height);
  overflow-y: auto;
  scrollbar-color: var(--accent-border) rgba(255, 255, 255, 0);
}

.list-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 1px);
  z-index: 10;
  max-height: 85dvh;
  overflow-y: auto;
  overflow-x: hidden; 
}

.list-item {
  background-color: var(--list-bg);
  border: 1px solid white;
  padding: .5vh 10vh;
  text-wrap-mode: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item:hover {
  color: black;
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-purple {
  background-color: purple;
}

.selected {
  filter: brightness(100%);
  border: 4px solid black;
}

.unselected {
  border: 4px solid white;
  filter: brightness(75%);
}